/* Proprieta' generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.bottone_orange {
    background-color: #EF6F31;
    padding: 8px 30px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.bottone_panna {
    background-color: #FDF0EA;
    padding: 8px 30px;
    color: #EF6F31;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.font_artist {
    font-size: 40px;
    font-family: 'Pinyon Script', cursive;
    color: #6AC5F1;
}
.xflex {
    display: flex;
}

/* proprieta' selettive */
/* parte pre-nav */
#ticket {
    background-color: #F5F5F5;
    padding: 13px 0;
    text-align: center;
}
/* #ticket button {
    background-color: #EF6F31;
    padding: 5px 25px;
    color: white;
    border: none;
    border-radius: 5px;
} */
#ticket > span:nth-child(2) {
    margin: 0 30px;
}

/* nav e logo */
nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
nav > div:first-child img {
    height: 25px;
}

/* intestazione */
header {
    position: relative;
    background-color: #FBF9F6;
    min-height: 740px;
}
/* immagini sx */
header > .sx img:first-child {
    position: absolute;
    left: 0;
    top: 0;
}
header > .sx img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
}
header > .sx img:nth-child(3) {
    position: absolute;
    left: 0;
    top: 130px;
}
header > .sx img:nth-child(4) {
    position: absolute;
    left: 430px;
    top: 400px;
}
header > .sx img:nth-child(5) {
    position: absolute;
    left: 280px;
    top: 100px;
}
header > .sx img:nth-child(6) {
    position: absolute;
    left: 105px;
    top: 430px;
}
/* parte cx */
header > .cx {
    max-width: 500px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* header > .cx > h2 {
    font-size: 40px;
    font-family: 'Pinyon Script', cursive;
    color: #6AC5F1;
} */
header > .cx > h1 {
    margin-bottom: 30px;
}
/* header > .cx > button {
    background-color: #EF6F31;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
} */
/* immagini dx */
header > .dx img:first-child {
    position: absolute;
    right: 140px;
    top: 0;
}
header > .dx img:nth-child(2) {
    position: absolute;
    right: 130px;
    top: 100px;
}
header > .dx img:nth-child(3) {
    position: absolute;
    right: 70px;
    top: 505px;
}
header > .dx img:nth-child(4) {
    position: absolute;
    right: 335px;
    top: 505px;
}
header > .dx img:nth-child(5) {
    position: absolute;
    right: 210px;
    top: 245px;
}

/* main */
/* prima sezione */
.prima_righa {
    text-align: center;
    margin: 70px 0;
}
section:nth-child(1) {
    position: relative;
    background-image: url(../img/maxcoach-shape-14.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}
main .container.xflex {
    justify-content: center;
}
main .container.xflex > div {
    margin: 0 15px;
    line-height: 28px;
}
.img_prima_section img:nth-child(1) {
    position: absolute;
    right: 0;
    top: 130px;
}
.img_prima_section img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
}

/* seconda sezione */
section:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 150px 0;
}
section:nth-child(2) > div {
    margin: 0 50px;
}
section:nth-child(2) > div:first-child {
    text-align: center;
    font-size: 25px;
}
section:nth-child(2) > div:last-child {
    margin-top: 50px;
}
section:nth-child(2) > div:last-child button {
    margin-top: 40px;
}
section:nth-child(2) .font_artist {
    margin-top: 15px;
}

/* terza sezione */
section:nth-child(3) {
    position: relative;
    text-align: center;
    height: 640px;
}
section:nth-child(3) > img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 310px;
    z-index: 100;
}
section:nth-child(3) > img:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 0;
    z-index: 500;
}
section:nth-child(3) > img:nth-child(3) {
    position: absolute;
    bottom: 20px;
    right: 220px;
    z-index: 100;
}