<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Roboto:wght@100;300&family=Tajawal:wght@200&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <title>Progetto Artist</title>
</head>

<body>
    <!-- istanza vue -->
    <div id="root">
        <!-- parte pre-nav -->
        <div id="ticket">
            <span>
                Starts TOMORROW! Our biggest event of the year...
            </span>
            <span>
                <i class="far fa-clock"></i> 00 : 00 : 00 : 00
            </span>
            <button class="bottone_orange">Get ticket</button>
        </div>

        <!-- nav piu' logo -->
        <nav>
            <div>
                <img :src="logo" alt="">
            </div> <!--sx-->
            <div>
                <ul>
                    <li v-for='elementi, indice in arrayNav' @click='mostra(elementi, indice)'>
                        {{elementi.key}} <i class="fas fa-chevron-down"></i>
                        <ul class="dropdown" v-show='elementi.active'>
                            <li v-for='item, index in arrayNav[indice].arrayKey'>
                                {{item}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!--cx-->
            <div>

            </div> <!--dx-->
        </nav>

        <!-- intestazione -->
        <header>
            <!-- img sx -->
            <div class="sx">
                <img src="img/artist-shape-02-768x415.png" alt="">
                <img src="img/artist-shape-02-768x415.png" alt="">
                <img src="img/artist-shape-03.png" alt="">
                <img src="img/artist-hero-image-03.png" alt="">
                <img src="img/artist-hero-image-02.jpg" alt="">
                <img src="img/artist-hero-image-01.jpg" alt="">
            </div>
            <!-- testo centrale -->
            <div class="cx">
                <h2 class="font_artist">Hello, Im Matin</h2>
                <h1>Artist Coaching And Mentoring Might Be for You.</h1>
                <button class="bottone_orange">Get started today</button>
            </div>
            <div class="dx">
                <!-- img dx -->
                <img src="img/artist-shape-01-600x577.png" alt="">
                <img src="img/artist-shape-04.png" alt="">
                <img src="img/artist-shape-05.png" alt="">
                <img src="img/maxcoach-shape-12.png" alt="">
                <img src="img/artist-hero-image-04.jpg" alt="">
            </div>
        </header>

        <!-- struttura centrale -->
        <main>
            <!-- prima sezione -->
            <section>

                <div class="prima_righa">
                    <h2 class="font_artist">
                        Artist coaching
                    </h2>
                    <h2>
                        I understand what it takes to create. 
                        <br>
                        I can help you with
                    </h2>
                </div> <!--1 row-->
                <!-- contenitore colonne -->
                <div class="container xflex">

                    <div>
                        <img src="img/artist-box-image-01.png" alt="">
                        <h4>
                            Online Coures
                        </h4>
                        <p>
                            Online art coaching now offers you a <br>
                            very powerful way to redesign you <br>
                            artist mind.
                        </p>
                    </div> <!--2 row-->
                    <div>
                        <img src="img/artist-box-image-02.png" alt="">
                        <h4>
                            One to one
                        </h4>
                        <p>
                            Online art coaching now offers you a <br>
                            very powerful way to redesign you <br>
                            artist mind.
                        </p>
                    </div> <!--3 row-->
                    <div>
                        <img src="img/artist-box-image-03.png" alt="">
                        <h4>
                            Anywhere
                        </h4>
                        <p>
                            Online art coaching now offers you a <br>
                            very powerful way to redesign you <br>
                            artist mind.
                        </p>
                    </div> <!--4 row-->
                    <div>
                        <img src="img/artist-box-image-04.png" alt="">
                        <h4>
                            On Time
                        </h4>
                        <p>
                            Online art coaching now offers you a <br>
                            very powerful way to redesign you <br>
                            artist mind.
                        </p>
                    </div> <!--5 row-->

                </div>
                <!-- contenitore di immagini -->
                <div class="img_prima_section">
                    <img src="img/meta'-maxcoach-shape-13-150x150.png" alt="">
                    <img src="img/meta'-artist-shape-01-600x577.png" alt="">
                </div>

            </section>

            <!-- seconda sezione -->
            <section>

                <div>
                    <img src="img/artist-quote-icon.png" alt="">
                    <h1>
                        I coach and mentor <br>
                        visual artists, like <br>
                        you, to Create Like <br>
                        You Mean It
                    </h1>
                    <h2 class="font_artist">
                        Martin Garrix
                    </h2>
                </div> <!--1 col-->
                <div>
                    <p>
                        As a coach and mentor, my ultimate goal is to motivate visual artist <br> consectetur adipisicing elit. Omnis dicta modi, expedita, quibusdam <br> adipisicing consectetur elit. Omnis dicta modi, quibusdam, expedita <br> odit asperiores commodi id provident a iure quidem veniam minus <br> fugiat dolores facilis quisquam doloribus repellendus vitae. <br> <br>
                        As an artist and an educator for nearly 30 years, I understand what it <br> takes to create.
                    </p>
                    <button class="bottone_panna">Get started today</button>
                </div> <!--2 col-->

            </section>
            
            <!-- terza sezione -->
            <section>
                <img src="img/maxcoach-shape-05.png" alt="">
                <img src="img/artist-video-poster.jpg" alt="">
                <img src="img/maxcoach-shape-12.png" alt="">
            </section>

            <!-- quarta sezione carosello-->
            <section>

                <div>
                    <h2 class="font_artist">
                        Testimonial
                    </h2>
                    <h2>
                        Why do people love me?
                    </h2>
                </div> <!--1 row-->
                <div id="carosello">
                    <div>
                        <h4>
                            It's a choice of quality for people with special needs
                        </h4>
                        <p>
                            I'm a very strict person so require everithing to be organized and neat. Then, be able to make things right and shine. MaxCoach guys just got me.
                        </p>
                        <img src="img/artist-testimonial-avatar-02.jpg" alt="">
                        <div class="testimonial">
                            <h5>
                                Florence Themes
                            </h5>
                            <p>
                                / Multimedia Admin
                            </p>
                        </div>
                    </div>
                    <div>
                        <h4>
                            It's a choice of quality for people with special needs
                        </h4>
                        <p>
                            I'm a very strict person so require everithing to be organized and neat. Then, be able to make things right and shine. MaxCoach guys just got me.
                        </p>
                        <img src="img/artist-testimonial-avatar-04.jpg" alt="">
                        <div class="testimonial">
                            <h5>
                                Florence Themes
                            </h5>
                            <p>
                                / Multimedia Admin
                            </p>
                        </div>
                    </div>
                    <div>
                        <h4>
                            It's a choice of quality for people with special needs
                        </h4>
                        <p>
                            I'm a very strict person so require everithing to be organized and neat. Then, be able to make things right and shine. MaxCoach guys just got me.
                        </p>
                        <img src="img/artist-testimonial-avatar-01.jpg" alt="">
                        <div class="testimonial">
                            <h5>
                                Florence Themes
                            </h5>
                            <p>
                                / Multimedia Admin
                            </p>
                        </div>
                    </div>
                </div> <!--2 row-->

            </section>

            <!-- quinta sezione -->
            <section>

                <div>

                </div> <!--1 row-->
                <div>
                    <!-- sx -->
                    <div>

                    </div>
                    <!-- cx -->
                    <div>

                    </div>
                    <!-- dx -->
                    <div>

                    </div>

                </div> <!--2 row-->
                <div>

                </div> <!--3 row-->

            </section>

            <!-- sesta sezione -->
            <section>

                <div>

                </div> <!--1 row-->
                <div>

                </div> <!--2 row-->
                <div>

                </div> <!--3 row-->

            </section>

            <!-- settima sezione -->
            <section>

                <div>

                </div> <!--1 row-->
                <div>

                </div> <!--2 row-->
                <div>

                </div> <!--3 row-->

            </section>
            
        </main>

        <!-- footer piu' pre-footer -->
        <footer>
            <!-- pre-footer -->
            <div>

            </div>

            <!-- parte centrale footer -->
            <div>

                <div>

                </div> <!--1 col-->
                <div>

                </div> <!--2 col-->
                <div>

                </div> <!--3 col-->
                <div>

                </div> <!--4 col-->

            </div>

            <!-- parte inferiore footer -->
            <div>

            </div>

        </footer>

    </div>

    <!-- script js -->
    <script src="js/script.js"></script>
</body>
</html>